- page_title "Audit Events"

= render "projects/settings/head"

%h3.page-title Project Audit Events
%p.light Events in #{@project.path_with_namespace}

= render 'shared/audit_events/event_table', events: @events
